extends layout.pug
block content
    section.flashcards 
        .card(class=`card-${side}`)
            .card-header 
            h1.card-title=side
            #content 
                if side === "question"
                    h2=text
                    if hint
                        p.hint=hint 
                if side === "answer"
                    h2=text
                .button-container(style="display:none")
                .button-container
                    .card-prev
                        a(href=`${parseInt(id)===0 ? 0:parseInt(id)-1}?side=${side} `)
                            button prev 
                    .card-flip-wrap
                        a(href=`${id}?side=${side==="question" ? 'answer':'question'}`)
                            img.card-flip(src='/static/img/flip.svg')            
                    .card-next
                        a(href=`${parseInt(id)===max ? max:parseInt(id)+1}?side=${side} `)
                            button next 




